<div id="<%= dom_id man_shoe %>">
  <p>
    <strong>Title:</strong>
    <%= man_shoe.title %>
  </p>

  <p>
    <strong>Cetegory:</strong>
    <%= man_shoe.cetegory %>
  </p>

  <p>
    <strong>Lable:</strong>
    <%= man_shoe.lable %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= man_shoe.price %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= man_shoe.color %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= man_shoe.description %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= man_shoe.size %>
  </p>

</div>
