<nav class="navbar navbar-expand-lg navbar-dark bg-dark navb">
  <div class="container-fluid">
    <%= link_to 'Uphoria', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 position-absolute top-0 end-0 navlb">
        <li class="nav-link">
          <%= link_to 'help', root_path, class: "nav-link active"%>
        </li>
        <li class="nav-link">
          <%= link_to 'returns', root_path, class: "nav-link active"%>
        </li>
        <li class="nav-link">
          <%= link_to 'order tracker', root_path, class: "nav-link active"%>
        </li>        
        <li class="nav-link">
          <%= link_to 'Sign up', root_path, class: "nav-link active"%>
        </li>
      </ul>
    </div>
  </div>
</nav>